node_modules/
dist/
.gems/
.tools/
vendor/*
!vendor/epubjs/
vendor/epubjs/*
!vendor/epubjs/epub.min.js
.DS_Store
android/.gradle/
android/local.properties
android/app/build/
ios/App/Pods/
ios/App/DerivedData/
